shopify
alabaster==0.7.12
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.7.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
conda==4.7.5
conda-package-handling==1.3.10
coverage==4.5.4
cryptography==2.7
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
Jinja2==2.10.3
libarchive-c==2.8
MarkupSafe==1.1.1
mccabe==0.6.1
menuinst==1.4.16
more-itertools==7.2.0
numpy==1.17.3
packaging==19.2
pandas==0.25.3
pluggy==0.13.0
progressbar2==3.47.0
py==1.8.0
pyactiveresource==2.1.2
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pyflakes==2.1.1
Pygments==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.4
PyPrind==2.11.2
PySocks==1.7.0
pytest==5.2.2
pytest-cov==2.8.1
python-dateutil==2.8.1
python-utils==2.3.0
pytz==2019.3
pywin32==223
PyYAML==5.4
requests==2.22.0
ruamel-yaml==0.15.46
ShopifyAPI==5.1.2
six==1.12.0
snowballstemmer==2.0.0
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tqdm==4.32.1
urllib3==1.24.2
wcwidth==0.1.7
win-inet-pton==1.1.0
wincertstore==0.2
xlrd==1.2.0
zipp==0.6.0
